body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}
